.container{
  display: flex;
  margin: auto;
  width: 1024px;
}

.left-column{
  display:flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  align-content: space-around;
  color: rgb(240, 252, 251);
  width: 42%;
}

.right-column{
  display:flex;
  flex-direction: column;
  background-color: rgb(240, 252, 251);
  color:rgb(41, 41, 41);
  width: 58%;
  padding-right: 10px;
}

.left-column__photo{
  width: 70%;
  height: 70%;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.photo{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px #444;
}

.developer {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-variant: small-caps;
}

.name{
  background-color: rgb(184, 255, 237);
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  
}

.title{
  padding: 0 50px;
}

.content{
  padding: 0 15px 5px 15px;
}

h1{
  text-align: center
}


